.svg-editor {
  touch-action: none;
  polyline {
    stroke-linecap: round;
  }
  polyline,
  rect,
  ellipse {
    fill: none;
  }

  &[data-drawing='true'] {
    > g > * {
      pointer-events: none;
    }
  }
  &[data-mode='select'] {
    > g > * {
      cursor: pointer;
    }
  }
  .selector {
    stroke-width: 5;
    &.fg {
      stroke: rgb(255, 255, 255);
      stroke-dasharray: 10, 10;
      animation: dasharray-move 1s linear infinite;
    }
    &.bg {
      stroke: black;
    }
  }

  @keyframes dasharray-move {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 20;
    }
  }
}
