version: '2.4'
services:
  rabbitmq:
    image: rabbitmq:3
    restart: unless-stopped
  db:
    image: 'postgres:11'
    restart: unless-stopped
    environment:
      POSTGRES_USER: csheet
      POSTGRES_PASSWORD: csheet
    volumes:
      - pgdata:/var/lib/postgresql/data
  web:
    image: 'csheet'
    restart: on-failure
    volumes:
      - ./settings.py:/etc/csheet/settings.py:ro
      - ./srv:/srv/csheet:ro
    depends_on:
      - rabbitmq
      - db
    env_file:
      - ./csheet.env
  socketio:
    image: 'csheet'
    restart: unless-stopped
    command: 'run socketio'
    volumes:
      - ./settings.py:/etc/csheet/settings.py:ro
    depends_on:
      - web
    env_file:
      - ./csheet.env
  beat:
    image: 'csheet'
    restart: unless-stopped
    command: 'run beat'
    volumes:
      - ./settings.py:/etc/csheet/settings.py:ro
    depends_on:
      - rabbitmq
      - db
    env_file:
      - ./csheet.env
  worker:
    image: 'csheet'
    restart: unless-stopped
    command: 'run worker'
    volumes:
      - ./settings.py:/etc/csheet/settings.py:ro
      - ./srv:/srv/csheet
    depends_on:
      - beat
    env_file:
      - ./csheet.env
  docs:
    image: csheet-docs
    restart: unless-stopped
  nginx:
    image: 'nginx'
    restart: unless-stopped
    depends_on:
      - web
      - docs
      - socketio
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./srv:/srv/csheet:ro
volumes:
  pgdata:
