version: '2.4'
services:
  csheet:
    container_name: csheet
    build:
      context: '..'
    ports:
      - '60000:80'
    image: 'csheet'
    restart: unless-stopped
    cpu_shares: 128
    mem_limit: 2G
    volumes:
      - csheet_data:/app/storage/db
      - ./files:/app/storage/files
      - /mnt/z:/z:ro
    env_file:
      - ./.env
volumes:
  csheet_data:
