{
  "root": true,
  "env": {
    "browser": true
  },
  "globals": {
    "RELEASE": "readonly"
  },
  "extends": [
    "eslint:recommended",
    "@vue/standard",
    "@vue/typescript",
    "plugin:vue/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/vue",
    "prettier/@typescript-eslint",
    "plugin:vue/base"
  ],
  "rules": {
    "@typescript-eslint/member-ordering": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "graphql/template-strings": ["error", { "env": "literal" }],
    "no-console": "error",
    "no-alert": "error",
    "require-atomic-updates": "off",
    "standard/no-callback-literal": "off",
    // https://github.com/eslint/eslint/issues/12822
    "no-unused-expressions": "off",
    "camelcase": ["error", { "allow": ["^\\$_"] }]
  },

  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "plugins": ["graphql"],
  "overrides": [
    {
      "files": ["*.js"],
      "rules": { "@typescript-eslint/no-var-requires": "off" }
    },
    {
      "files": ["*.vue"],
      "rules": { "@typescript-eslint/no-var-requires": "off" }
    },
    {
      "files": ["*.spec.ts"],
      "rules": { "@typescript-eslint/explicit-function-return-type": "off" }
    },
    {
      "files": ["PresentationAnnotationEditor.static.vue"],
      "rules": {
        "vue/no-v-html": "off"
      }
    }
  ]
}
