.DS_Store
node_modules
dist
build

# local env files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.venv
__debug_bin

# python
.pytest_cache
*.pyc
.coverage
coverage.xml
SENTRY_DSN

# Local config
/*.local

# csheet files
/storage
