sudo: required
language: python
dist: xenial
services:
  - docker
python:
  - "3.6"
  - "3.7-dev"
node_js:
  - "node"
install:
  - sudo apt-get install ffmpeg && ffmpeg -version
  - pip install poetry
cache:
  - pip
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - make test
  - mv server/coverage.xml .
  - docker build . --build-arg NPM_MIRROR= --build-arg DEBIAN_MIRROR= --build-arg PIP_MIRROR=
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
addons:
  apt:
    update: true
