version: '2.3'
services:
  redis:
    image: 'redis'
  web:
    image: 'csheet'
    volumes: 
      - ${CSHEET_STORAGE:-/srv/csheet}/etc:/etc/csheet:ro
      - ${CSHEET_STORAGE:-/srv/csheet}/srv:/srv/csheet
      - database:/var/db
    depends_on:
      - redis
  socketio:
    image: 'csheet'
    command: 'run socketio'
    volumes: 
      - ${CSHEET_STORAGE:-/srv/csheet}/etc:/etc/csheet:ro
      - database:/var/db
    depends_on:
      - redis
  worker:
    image: 'csheet'
    command: 'run worker'
    volumes: 
      - ${CSHEET_STORAGE:-/srv/csheet}/etc:/etc/csheet:ro
      - database:/var/db
    depends_on:
      - redis
    environment: 
      C_FORCE_ROOT: 1
  watch:
    image: 'csheet'
    command: 'run watch'
    volumes: 
      - ${CSHEET_STORAGE:-/srv/csheet}/etc:/etc/csheet:ro
      - database:/var/db
  generation:
    image: 'csheet'
    command: 'run generation'
    volumes: 
      - ${CSHEET_STORAGE:-/srv/csheet}/etc:/etc/csheet:ro
      - ${CSHEET_STORAGE:-/srv/csheet}/srv:/srv/csheet
      - database:/var/db
    cpu_shares: 128
  nginx:
    image: 'nginx'
    depends_on:
      - web
      - socketio
    volumes:
      - ${CSHEET_STORAGE:-/srv/csheet}/etc:/etc/csheet:ro
      - ${CSHEET_STORAGE:-/srv/csheet}/srv:/srv/csheet:ro
      - ${CSHEET_STORAGE:-/srv/csheet}/etc/nginx.conf:/etc/nginx/nginx.conf:ro
volumes:
    database: