version: '2.3'
services:
  web:
    build: '.'
    ports:
      - '60000:80'
    volumes:
      - 'D:/:/d:ro'
      - 'E:/:/e:ro'
      - '/z:/z:ro'
      - '/y:/y:ro'
    external_links:
      - sentry-server:sentry
  socketio:
    external_links:
      - sentry-server:sentry
  worker:
    external_links:
      - sentry-server:sentry
    volumes:
      - 'D:/:/d:ro'
      - 'E:/:/e:ro'
      - '/z:/z:ro'
      - '/y:/y:ro'
    cpu_shares: 128
    cpus: 4
    mem_limit: 1G
  beat:
    external_links:
      - sentry-server:sentry
  nginx:
    command: [nginx-debug, '-g', 'daemon off;']
    ports:
      - 80:80
      - 443:443
