version: '2.3'
services:
  web:
    build: '.'
    ports:
     - "60000:80"
    volumes:
      - 'D:/:/d'
      - 'E:/:/e'
      - '/z:/z'
    external_links:
      - sentry-server:sentry
  socketio:
    external_links:
      - sentry-server:sentry
  watch:
    external_links:
      - sentry-server:sentry
    volumes:
      - 'D:/:/d'
      - 'E:/:/e'
      - '/z:/z'
  generation:
    external_links:
      - sentry-server:sentry
    volumes:
      - 'D:/:/d'
      - 'E:/:/e'
      - '/z:/z'
  nginx:
    command: [nginx-debug, '-g', 'daemon off;']
    ports:
      - 80:80
      - 443:443
    