version: '3.5'
services:
  web:
    build: '.'
    ports:
     - "60000:80"
    volumes:
      - 'D:/:/d'
      - 'E:/:/e'
      - '/z:/z'
    external_links:
      - sentry-server:sentry
    environment: 
      # CSHEET_DEBUG: 1
      SENTRY_DSN: ${SENTRY_DSN}
  watch:
    external_links:
      - sentry-server:sentry
    volumes:
      - 'D:/:/d'
      - 'E:/:/e'
      - '/z:/z'
    environment: 
      # CSHEET_DEBUG: 1
      SENTRY_DSN: ${SENTRY_DSN}
  generation:
    external_links:
      - sentry-server:sentry
    volumes:
      - 'D:/:/d'
      - 'E:/:/e'
      - '/z:/z'
    environment: 
      # CSHEET_DEBUG: 1
      SENTRY_DSN: ${SENTRY_DSN}
  nginx:
    command: [nginx-debug, '-g', 'daemon off;']
    ports:
      - 80:80
      - 443:443
    