version: '2.3'
services:
  web:
    image: 'csheet'
    volumes: 
     - ${CSHEET_STORAGE:-/srv/csheet}/srv:/srv/csheet
     - database:/var/db
  watch:
    image: 'csheet'
    command: 'run watch'
    volumes: 
     - ${CSHEET_STORAGE:-/srv/csheet}/srv:/srv/csheet
     - database:/var/db
  generation:
    image: 'csheet'
    command: 'run generation'
    volumes: 
     - ${CSHEET_STORAGE:-/srv/csheet}/srv:/srv/csheet
     - database:/var/db
    cpu_shares: 128
  nginx:
    image: 'nginx'
    depends_on:
      - web
    volumes:
      - ${CSHEET_STORAGE:-/srv/csheet}/srv:/srv/csheet
      - type: bind
        source: ${CSHEET_STORAGE:-/srv/csheet}/etc
        target: /etc/csheet
        read_only: true
      - type: bind
        source: ${CSHEET_STORAGE:-/srv/csheet}/etc/nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true
        
volumes:
    database: