version: '2.3'
services:
  redis:
    restart: always
  web:
    volumes:
      - '/z:/z:ro'
      - '/y:/y:ro'
    restart: always
    external_links:
      - sentry-server:sentry
    environment:
      WORKER_CONNECTIONS: 10240
  socketio:
    restart: always
    external_links:
      - sentry-server:sentry
  worker:
    restart: always
    external_links:
      - sentry-server:sentry
    volumes:
      - '/z:/z:ro'
      - '/y:/y:ro'
    cpu_shares: 128
    mem_limit: 2G
  beat:
    restart: always
    external_links:
      - sentry-server:sentry
  nginx:
    restart: always
    ports:
      - '60000:80'
      - '60001:443'
