[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"
pytest = "*"

[packages]
gevent = "*"
flask = "*"
sqlalchemy = "*"
flask-socketio = "*"
flask-restful = "*"
fire = "*"
wlf = {git = "https://github.com/WuLiFang/wlf",ref = "0.5.3"}
cgtwq = {git = "https://github.com/WuLiFang/cgtwq",ref = "3.0.0-alpha.7"}
environs = "*"
psycopg2 = "*"
celery = {version = "*"}
sentry-sdk = {extras = ["flask"],version = "*"}
