[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"
pytest = "*"

[packages]
gevent = "*"
flask = "*"
raven = {extras = ["flask"]}
sqlalchemy = "*"
flask-socketio = "*"
flask-restful = "*"
celery = {extras = ["redis"]}
fire = "*"
wlf = {git = "https://github.com/WuLiFang/wlf",ref = "0.5.2"}
cgtwq = {git = "https://github.com/WuLiFang/cgtwq",ref = "3.0.0-alpha.6"}
environs = "*"
