[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "~=1.9"
"autopep8" = "*"
rope = "*"
pytest = "*"

[packages]
gevent = "*"
flask = "*"
raven = {extras = ["flask"]}
sqlalchemy = "*"
flask-socketio = "*"
flask-restful = "*"
celery = {extras = ["redis"]}
fire = "*"
cgtwq = {git = "https://github.com/WuLiFang/cgtwq",ref = "3.0.0-alpha.6"}
