<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {{ config.title }}
    </title>
    <!-- [if IE]>
    <script type="text/javascript">
    alert('本页面不支持IE, 请使用其他现代浏览器');
    </script>
    <![endif] -->
</head>

<body>
    <div id='app' data-page='{{ dump(videos) }}' data-task='{{ dumps(tasks) }}' data-username='{{ session and session.get("name") | default("", True) }}'
        data-tag='{{ dumps(tags) }}' data-sentry-dsn='{{ SENTRY_DSN | default("", True) }}'>
        <noscript class="noscript">
            <link href="{{ config.assets['csheet_noscript']['css'] }}" rel="stylesheet" type="text/css" />
            <header>
                <div id="count">
                    {{ videos.__len__() }}
                </div>
                <nav>
                    {% block nav %} {% endblock %}
                </nav>
                <p>
                    <div style="font-weight:bold">兼容模式</div>
                    <div style="font-size:0.5em">请启用javascript以使用完整功能</div>
                </p>
            </header>
            <ul>
                {% for video in videos %} {% set thumb = video.get('thumb',config.is_pack) %} {% set poster = video.get('poster', config.is_pack)
                %} {% set preview = video.get('preview', config.is_pack) %}
                <li class="lightbox" id="image{{ loop.index }}">
                    <a href="#image{{ loop.index }}" class="zoom" draggable="false">
                        <img alt="no image" src="{{ thumb }}" />
                        <div class='small caption' title="{{ video.label | e }}">
                            {{ video.label | e }}
                        </div>
                    </a>
                    <div class="viewer">
                        <a class="close" href="#void"> </a>
                        <img class='full' alt="no image" src="{{ poster }}" />
                        <div class="bottom">
                            <div class='caption' title="{{ video.label | e }}">
                                <span>{{ video.label | e }} </span>
                            </div>
                        </div>
                        <a class="prev" href="#image{{ loop.index - 1 }}"> </a>
                        <a class="next" href="#image{{ loop.index + 1 }}"> </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </noscript>
    </div>
</body>

</html>