/* purgecss start ignore */

@tailwind base;

.fa-icon {
  width: auto;
  height: 1em;
  max-width: 100%;
  max-height: 100%;
}

// Reset focus outline
button:focus,
:focus {
  outline: initial;
}

// Custom scrollbar for webkit browser

::-webkit-scrollbar {
  @apply w-1;
  @apply h-1;
}
::-webkit-scrollbar-track {
  @apply rounded-sm;
  @apply bg-gray-800;
}
::-webkit-scrollbar-thumb {
  @apply rounded-sm;
  @apply bg-gray-600;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
::-webkit-scrollbar-thumb:active {
  @apply bg-gray-600;
}

@tailwind components;

%form-button-common {
  @apply px-5;
  @apply py-2;
  @apply rounded-sm;
  &:disabled {
    @apply cursor-not-allowed;
  }
}

.form-button {
  @extend %form-button-common;
  @apply text-white;
  @apply bg-gray-700;
  &:hover {
    @apply bg-gray-600;
  }
}

/* purgecss end ignore */

@tailwind utilities;

#h {
  .keep-all {
    word-break: keep-all;
  }

  @variants responsive {
    .clear-none {
      clear: none;
    }
  }

  input.spin-button-none {
    // https://stackoverflow.com/a/4298216
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    &[type='number'] {
      -moz-appearance: textfield; /* Firefox */
    }
  }
}
