git+https://github.com/WuLiFang/cgtwq@7adc655cf769c5e317fc4a28b96e3612a31a4abc#egg=cgtwq
git+https://github.com/WuLiFang/wlf@9a70cdde520f4d4e25c810e2cdacec1263f953b9#egg=wlf
gevent==1.4.0
flask-restful==0.3.7
flask-socketio==4.0.0
flask==1.0.3
fire==0.1.3
environs==4.1.3
psycopg2==2.8.2
python-engineio==3.6.0
celery==4.3.0
sentry-sdk[flask]==0.8.0
sqlalchemy==1.3.3
