@charset "UTF-8";
html {
    height: 100%;
    margin: auto;
}

body {
    height: 100%;
    margin: auto;
    background: black;
    font-family: "Microsoft YaHei", SimHei, sans-serif;
}

.noscript {
    header {
        z-index: 1;
        transition: 0.5s ease-in-out;
        position: fixed;
        border: 1px solid white;
        color: white;
        padding: 0.5em;
        margin: 0.5em;
        right: 0%;
        top: 0%;
        text-align: right;
        opacity: 0.3;
        #count {
            &:before {
                content: "总计: ";
            }
            &:after {
                content: " 图像";
            }
        }
        &:hover {
            opacity: 1;
            background: black;
        }
    }
    a.button {
        text-decoration: none;
    }
    ul {
        width: 85%;
        color: grey;
        margin: auto;
        display: block;
        text-align: center;
        &:hover {
            background: #050505;
            border-left: 1px dotted rgba(255, 255, 255, 0.3);
            border-right: 1px dotted rgba(255, 255, 255, 0.3);
            .lightbox:not(:hover):not(:target) .small {
                opacity: 0.4;
            }
        }
        a {
            text-decoration: none;
            &:link {
                color: inherit;
            }
            &:visited {
                color: burlywood;
                .highlight {
                    color: black;
                    background: burlywood;
                }
            }
        }
        .lightbox {
            display: inline-block;
            margin: 0;
            transition: 0.5s ease-in-out;
            position: relative;
            height: 200px;
            border: 1px solid black;
            box-sizing: border-box;
            overflow: hidden;
            .viewer {
                z-index: 1;
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                /* for animation */
                visibility: hidden;
                transition: inherit;
                transform: translate(0, -100%);
                .full {
                    z-index: 2;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -52%);
                    max-width: 90%;
                    max-height: 90%;
                    &:hover {
                        z-index: 3
                    }
                }
                .bottom {
                    z-index: 3;
                    position: absolute;
                    box-sizing: border-box;
                    bottom: 0;
                    width: 100%;
                    padding: 0.5%;
                    .caption {
                        max-width: 80%;
                        color: #EEE;
                        text-shadow: 1px 1px 0 black;
                        span {
                            background: rgba(0, 0, 0, 0.5);
                            padding: 0.5em
                        }
                    }
                }
                a {
                    &.prev,
                    &.next {
                        z-index: 4;
                        position: fixed;
                        text-decoration: none;
                        font-size: 3em;
                        background: rgba(255, 255, 255, 0.1);
                        padding: 5% 2%;
                        opacity: 0;
                        top: 50%;
                        transform: translate(0%, -50%);
                        transition: 0.4s ease-in-out;
                        &:hover {
                            background: rgba(255, 255, 255, 0.2);
                        }
                    }
                    &.prev {
                        left: -10%;
                        &:before {
                            content: "<";
                        }
                    }
                    &.next {
                        right: -10%;
                        &:after {
                            content: ">";
                        }
                    }
                    &.close {
                        z-index: 1;
                        position: fixed;
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                        cursor: zoom-out;
                    }
                }
            }
            &:target {
                & .viewer {
                    visibility: visible;
                    transform: none;
                    a {
                        &.prev,
                        &.next {
                            opacity: 1;
                        }
                        &.prev {
                            left: 1%;
                        }
                        &.next {
                            right: 1%;
                        }
                    }
                }
            }
            .caption {
                word-break: keep-all;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: auto;
                transition: 0.3s ease-out;
            }
            .small.caption {
                color: #EEE;
                position: absolute;
                bottom: 0;
                width: 100%;
                max-height: 30%;
                word-break: break-all;
                transform: none;
                background: rgba(0, 0, 0, 0.5)
            }
            &:not(:hover) {
                .small.caption {
                    transform: translateY(100%)
                }
            }
        }
    }
}