$color-wait: rgb(0, 85, 127);
$color-check: rgb(219, 219, 2);
$color-retake: rgb(255, 0, 0);
$color-approve: rgb(0, 206, 0);
$color-close: rgb(0, 0, 0);

@mixin background-by-status($alpha: 1) {
  &[status='Wait'] {
    background: rgba($color: $color-wait, $alpha: $alpha);
  }
  &[status='Check'] {
    background: rgba($color: $color-check, $alpha: $alpha);
  }
  &[status='Retake'] {
    background: rgba($color: $color-retake, $alpha: $alpha);
  }
  &[status='Approve'] {
    background: rgba($color: $color-approve, $alpha: $alpha);
  }
  &[status='Close'] {
    background: rgba($color: $color-close, $alpha: $alpha);
  }
  &:not([status]) {
    background: rgba($color: white, $alpha: 0.2);
    color: black;
    border: 1px solid black;
  }
}
