version: '2.4'
services:
  redis:
    image: 'redis'
  postgress:
    image: 'postgress:11'
    environment:
      POSTGRES_USER: csheet
      POSTGRES_PASSWORD: csheet
    volumes:
      - pgdata:/var/lib/postgresql/data
  web:
    image: 'csheet'
    volumes:
      - ./settings.py:/etc/csheet/settings.py:ro
      - ./srv:/srv/csheet
    depends_on:
      - redis
      - postgress
    env_file:
      - ./csheet.env
  socketio:
    image: 'csheet'
    command: 'run socketio'
    volumes:
      - ./settings.py:/etc/csheet/settings.py:ro
    depends_on:
      - web
    env_file:
      - ./csheet.env
  worker:
    image: 'csheet'
    command: 'run worker'
    volumes:
      - ./settings.py:/etc/csheet/settings.py:ro
      - ./srv:/srv/csheet
    depends_on:
      - redis
    env_file:
      - ./csheet.env
  beat:
    image: 'csheet'
    command: 'run beat'
    volumes:
      - ./settings.py:/etc/csheet/settings.py:ro
    depends_on:
      - redis
    env_file:
      - ./csheet.env
  nginx:
    image: 'nginx'
    depends_on:
      - web
      - socketio
    volumes:
      - ./srv:/srv/csheet:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
volumes:
  pgdata:
